# Dependencies
node_modules/
client/node_modules/
server/node_modules/
**/node_modules/

# Environment variables
.env
server/.env
client/.env
**/.env

# Build
client/dist/
dist/
build/

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/